.nav-items {
  list-style: none;
  display: flex;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items>li {
  padding: 10px;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

.image {
  width: 200px;
}

.footer {
  font-size: 10px;
}